<% if current_user %>
  <h4>Add a commnent</h4>
  <%= form_for [@post, Comment.new], remote: true do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.submit %>
  <% end %>
<% end %>
